<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentProjectHub
    </title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>
<body>
     <!-- navbar started -->
    <% if(nav==true){ %><div class="w-full h-16 px-20 fixed z-50 top-[0%] bottom-auto left-auto right-auto ">
        <div class="w-full h-[100%] px-20 py-10 flex items-center justify-between mt-2 nav rounded-md ">
            <div class="w-[8vw] flex items-center ">
                <img class="w-[40%]" src="/images/logo1.png" alt="">
                <h1 class="text-xl font-bold text-[#43856F]">StudentProjectHub</h1>
            </div>
            <div class="flex gap-1 mid relative left-8 ">
                <h1 class=" px-7 py-2  rounded-3xl font-medium  relative text-lg  point-cursor"><a href="/"
                        class="decoration-none relative point-cursor">Home
                </h1></a>
                <h1 class=" px-5 py-2 rounded-3xl font-medium relative text-lg point-cursor"><a href="/project"
                        class="decoration-none relative point-cursor">Projects
                </h1></a>
                <h1 class=" px-5 py-2 rounded-3xl font-medium relative text-lg point-cursor"><a
                        class="decoration-none relative point-cursor">About
                </h1></a>
                <h1 class=" px-5 py-2 rounded-3xl font-medium relative text-lg point-cursor"><a
                        class="decoration-none relative point-cursor">Contact
                        Us</h1></a>
            </div>
            <div>
                <button class=" w-36 h-[7vh] rounded-md text-white bg-[#43856F] ">SignUp</button>
            </div>
        </div>
    </div>
    <% } %>