<div class="w-full h-screen  fixed z-[9] bottom-0 flex items-center justify-center text-white">
    <div class="w-full h-full relative z-[4] flex flex-col justify-evenly px-[5vw]">
        <div>
            <a href="/"><h3 class="text-[3vw] font-[500]">Home</h3></a>
            <a href="/project"><h3 class="text-[3vw] font-[500]">Projects</h3></a>
            <a href="/about"><h3 class="text-[3vw] font-[500]">About</h3></a>
            <a href="/contact"><h3 class="text-[3vw] font-[500]">Contact Us</h3></a>
        </div>
        <div>
            <h1 class="text-[10vw] font-[700] mt-10">StudentProjectHub</h1>
        </div>
        <div class="w-full flex items-center justify-center">
            <h1>&copy 2024 StudentProjectHub, solely created by Anshika, Vishakha, Nishtha and Sunaina. All Rights Reserverd.</h1>
        </div>
    </div>
    <div class="w-full h-full absolute z-[3] pointer-events-none"><video autoplay loop muted src="/images/footer video (1).mp4"></video></div>
</div>
</body>
</html>