<% include ./partials/header.ejs%>

    <!-- .......... -->
    <div class="z-[15] relative">

        <div class=" bg-[#cceedf]  w-full h-screen relative pt-24 ">

            <div class="overflow-hidden rounded-lg w-[100%] m-auto bg-auto  bg-repeat bg-center p-6 text-center text-black font-semibold text-2xl"
                style="background-image: url('../images/choose1.avif'); height: 400px">
                <div>
                    <h2 class="mb-4 text-6xl font-semibold text-center">About Us</h2>
                    <h3 class="mb-6 text-4xl font-extralight text-center z-20">"Coming together is a beginning, keeping
                        together is
                        progress, working together is success."</h3>
                    <button type="button"
                        class="rounded border-2 border-black px-7 py-3 text-sm font-medium uppercase leading-normal transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10">
                        Contact Us
                    </button>
                </div>
            </div>
            <div
                class="rounded-xl flex justify-center items-center w-3/5 h-3/5 m-auto bg-[#43856F] absolute right-0 left-0 top-72">
                <!-- content -->
                <div class=" w-[50%] px-4 text-balance text-white">
                    <h4>Student Project Hub helps you find the perfect collaborator for project. you got
                        invaluable feedback from ....or(professionals) , and our project ended up winning first place at
                        the
                        regional
                        competition!"</h4>
                    <h4>Project Hub assists students with academic projects for management courses like Marketing,
                        Finance,
                        and International Business. We offer Mini and Major projects across various specializations,
                        including finance, marketing, HR, IT, and more. Our projects are tailored to university
                        guidelines
                        and available in any format, including final year projects and PPT presentations.</h4>

                </div>
                <!-- image -->

                <div class="flex justify-center w-[50%] px-3">
                    <img src="../images/backi3.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- who we are & 3 circle  -->
        <div class="h-screen bg-slate-900 w-full flex mt-3 z-[14] ">

            <div class="w-[50%] h-full relative bg-[url('../images/ttec1.avif')] bg-cover">
                <!-- image -->

                <div class="w-full flex items-center justify-center h-full absolute left-24">
                    <img src="../images/backi3.jpg" alt="" class="w-5/6 h-96">
                </div>

            </div>
            <!-- content -->
            <div class=" w-[50%] bg-white pl-12">
                <h2 class="font-[400] text-5xl text-center uppercase mb-4">Why choose Us</h2>
                <p class="mb-4 text-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat facere ea
                    soluta!
                    Nesciunt sit non aperiam ipsa? A quam exercitationem nobis, consequatur similique amet, in omnis
                    dicta explicabo, dolorum laborum rem maxime aut neque.</p>
                <div class="grid grid-rows-3 grid-cols-2 gap-4 mb-4 ">
                    <div class="g1 flex gap-7 px-2 py-3 items-center">
                        <i class="ri-arrow-right-fill text-2xl "></i>
                        <div class="">
                            <h5>Lorem ipsum dolor,</h5>
                            <h5>Lorem ipsum dolor</h5>
                        </div>
                    </div>
                    <div class="g2 flex gap-7 px-2 py-3 items-center">
                        <i class="ri-arrow-right-fill text-2xl "></i>
                        <div class="">
                            <h5>Lorem ipsum dolor,</h5>
                            <h5>Lorem ipsum dolor</h5>
                        </div>
                    </div>
                    <div class="g3 flex gap-7 px-2 py-3 items-center">
                        <i class="ri-arrow-right-fill text-2xl "></i>
                        <div class="">
                            <h5>Lorem ipsum dolor,</h5>
                            <h5>Lorem ipsum dolor</h5>
                        </div>
                    </div>
                    <div class="g4 flex gap-7 px-2 py-3 items-center">
                        <i class="ri-arrow-right-fill text-2xl "></i>
                        <div class="">
                            <h5>Lorem ipsum dolor,</h5>
                            <h5>Lorem ipsum dolor</h5>
                        </div>
                    </div>
                    <div class="g5 flex gap-7 px-2 py-3 items-center">
                        <i class="ri-arrow-right-fill text-2xl "></i>
                        <div class="">
                            <h5>Lorem ipsum dolor,</h5>
                            <h5>Lorem ipsum dolor</h5>
                        </div>
                    </div>
                    <div class="g6 flex gap-7 px-2 py-3 items-center">
                        <i class="ri-arrow-right-fill text-2xl "></i>
                        <div class="">
                            <h5>Lorem ipsum dolor,</h5>
                            <h5>Lorem ipsum dolor</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div class="w-full h-screen "></div>
        ---Third Page----- -->


        <div class="bg-[#cceedf]  w-full min-h-screen flex flex-col justify-center leading-tight relative">
            <h1 class="pt-20 font-light text-3xl text-center mb-4">Created for teams,by teams who understand what you need to work.</h1>
            <div class="flex justify-center items-center w-full gap-12">
                <div class="bg-blue-500 rounded-full w-[15%] h-56"></div>
                <div class="bg-blue-500 rounded-full w-[15%] h-56"></div>
                <div class="bg-blue-500 rounded-full w-[15%] h-56"></div>

            </div>
            <div class="cirular-reveal  w-44">
                <div class="cirular-reveal__content bg-slate-900">
                    <img  src="/images/started.png" alt="business">
                </div>
            </div>
        </div>

        <div class="bg-[#146140]  w-full min-h-screen flex justify-center leading-tight relative">
            <h1 class="pt-20 font-light text-3xl">Created for teams,by teams who understand what you need to work.</h1>
            


        </div>
    </div>
    <!-- <div class="flex justify-center items-center w-full h-full bg-blue-500 rounded-full">
            <div class="flex justify-center items-center w-3/4 h-3/4 bg-pink-500 rounded-full">
                <div class="w-1/2 h-1/2 bg-light-blue-500 rounded-full"></div>
            </div>
        </div> -->




    <!-- <div class="w-full h-screen "></div> -->
    <!-- ---Third Page----- -->
    </div>

    <% include ./partials/footer.ejs %>