<% include ./partials/header.ejs%>
<h1 class="text-center text-2xl font-medium pt-3">Admin Panel</h1>
<div class="w-full h-screen flex justify-center mt-10">
    <div class="w-[25vw] h-[23vh] bg-[#64a38ca9] px-3 rounded-md">
        <form action="/admin" method="post">
            <h1 class="font-base text-lg mb-4 font-medium">Username :</h1>
            <input type="text" placeholder="enter username" name="adminusername" class="w-full mb-4 outline-none text-lg py-1">
            <div class="flex justify-center items-center ">
                <input type="submit" value="Submit" class="bg-[#0f1f1b] cursor-pointer text-white text-lg font-medium m-auto px-3 py-1 rounded-lg">
            </div>
        </form>
    </div>
</div>

</body>
</html>


