<% include ./partials/header.ejs%>
    <div class="main z-[10] relative">
        <div class="w-full h-screen flex items-center justify-between con py-5 bg-[#e4ebe8]">
            <div class="w-[50%] h-[100%] mt-20 flex items-center justify-start flex-col">
                <div class="w-[100%] mt-32">
                    <H1 class="text-[4vw] w-[100%] text-left font-extrabold mx-11">Showcase Your
                        <span class="change text-gradient"></span><span>|</span>
                    </H1>
                </div>
                <div>
                    <h3 class="text-[3vw] w-[80%] text-left mx-11">Share your brilliance, refine your vision.</h3>
                </div>
                <div class="w-[100%] flex items-center ">
                    <div
                        class="btn bg-[#43856F] rounded-md mx-11 w-[12.5vw] h-[9vh] mt-7 flex items-center justify-center gap-2 point-cursor transition-all ease-in-out duration-300 hover:bg-[#4d9b81]">
                        <button class="text-white text-center text-lg mb-1 point-cursor "><a href="/project"
                                class="point-cursor">All Projects</a></button>
                        <i class="ri-arrow-right-fill text-2xl invert"></i>
                    </div>

                    <a href="/uploadProject" class="point-cursor">
                    <div
                        class="btn bg-[#e4ebe8] rounded-md  w-[12.5vw] h-[9vh] mt-7 flex items-center justify-center gap-2 border-[2px] border-[#43856F] transition-all ease-in-out duration-300 point-cursor hover:bg-[#bcd6ca]  hover:text-white ">
                        <button class=" text-black point-cursor text-lg text-center ">Upload
                            Project</button>
                    </div>
                    </a>
                </div>
            </div>

            <div class="w-[50%] h-[100%] mt-20 relative ">
                <img class="w-[95%] h-[80%] object-cover absolute top-[24px] left-[7px] hero-image"
                    src="/images/main.webp" alt="">
                <img class="w-22 h-[30.33%] object-contain absolute bottom-[12px] left-0 icon" src="/images/icon.webp"
                    alt="">
                <img class="w-22 h-[24.3%] object-contain absolute top-[6.5rem] right-[10px] icon"
                    src="/images/icon2.webp" alt="">
            </div>
        </div>

        <!-- Second Page started -->
        <div class="w-full min-h-screen pt-20 bg-[#e4ebe8]">
            <div class="w-[95%] mx-auto border-b-2 border-[#dadada] head pl-2 ">
                <h1 class="h-24 text-7xl font-extralight  overflow-hidden"><span class="text-gradient">Unleash</span>
                    Diverse <span class="text-gradient">Projects</span> </h1>
            </div>
            <div class="w-full ">
                <div class="text-9xl mt-20 whitespace-nowrap overflow-x-auto movingtext  overflow-y-hidden">
                    <div class=" font-semibold anim whitespace-nowrap inline-block anim">
                        <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> TECHNICAL </h1>
                        <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> MANAGEMENT </h1>
                        <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> SCIENCE </h1>
                    </div>

                    <div class=" font-semibold anim whitespace-nowrap inline-block anim">
                        <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> TECHNICAL </h1>
                        <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> MANAGEMENT </h1>
                        <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> SCIENCE </h1>
                    </div>

                    <div class="font-semibold anim whitespace-nowrap inline-block anim">
                        <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> TECHNICAL </h1>
                        <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> MANAGEMENT </h1>
                        <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> SCIENCE </h1>
                    </div>
                </div>
            </div>
            <!-- How our website Works -->
            <div class="second-sec w-full h-[80%] flex mt-20">
                <div class="left w-[60%] h-[100vh] pl-16">
                    <h1 class="text-5xl mt-8 mb-4 font-semibold">Getting started is easy:</h1>
                    <ol class="list-decimal pl-8 pt-8">
                        <li class="text-2xl tracking-wide mb-2">Register and create your account</li>
                        <li class="text-2xl tracking-wide mb-2">Enter your university email to upload project</li>
                        <li class="text-2xl tracking-wide mb-2">Submit your project</li>
                        <li class="text-2xl tracking-wide mb-2">Explore other's inspiring projects</li>
                        <li class="text-2xl tracking-wide mb-2">Engage in discussions and collaborations</li>
                    </ol>
                    <div class="h-[40%] flex flex-col gap-3 pt-8">
                        <p class="text-3xl font-semibold leading-relaxed">Join our <span
                                class="text-gradient">community</span> 🌐 and be a part of something <span
                                class="text-gradient">extraordinary</span>. Your journey starts
                            here!</p>
                        <div class="mt-8 ">
                            <button class="w-36 h-[7vh] rounded-md text-white bg-[#43856F] btn ">Get Started</button>
                        </div>
                    </div>
                </div>
                <div class="right w-[40%] h-[100vh] bg-[#e4ebe8]">
                    <img src="/images/started.webp" alt="">
                </div>
            </div>
            <div class="w-full h-[1.5vh] bg-[black] opacity-[5%]"></div>
        </div>

        <!-- third page -->
        <div class="thirdsec w-full h-screen bg-[#e4ebe8] pt-4 pl-4 ">
            <div class="w-3/5 ml-44 cardHead">
                <h1 class="text-black text-5xl text-left font-semibold">Explore the <span
                        class="text-gradient">brilliance</span> of</h1>
                <h1 class=" text-5xl text-left font-semibold"><span class="text-gradient">user-created</span> projects
                </h1>
            </div>

            <div class="cards-container w-full h-[81%] flex items-center gap-5 justify-center overflow-hidden">

                <div class="cards card-one w-[23%] bg-[#58a68c76] rounded-3xl h-[60vh] overflow-hidden ">
                    <div class=" card-image ">
                        <img src="https://images.unsplash.com/photo-1682685794761-c8e7b2347702?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="" class="">
                    </div>
                    <div class="flex flex-col items-center gap-2 mt-5">
                        <h1 class="text-2xl font-semibold">Project Title</h1>
                        <div class="text-sm px-4 w-[80%]">
                            <p class="line-clamp-4 text-center font-medium">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Itaque, a veritatis corrupti sed sunt tempore repudiandae atque
                                temporibus voluptatum accusantium cumque ea laudantium culpa, architecto nobis quasi
                                assumenda, harum explicabo dolorem! Ipsum itaque aliquam rem, labore nemo quibusdam,
                                necessitatibus totam minima quam quod molestiae earum fugiat veniam cupiditate assumenda
                                est, harum porro nulla pariatur modi tempore? Repudiandae provident est error nulla
                                dolorem asperiores vero. Sint eos aut fuga veritatis id?</p>
                        </div>
                        <div class="w-36 flex text-xs">
                            <button class=" text-center text-lg mb-1 pl-5 font-semibold">See More</button>
                            <i class="ri-arrow-right-fill text-2xl"></i>
                        </div>
                    </div>
                </div>

                <!-- card 2 -->
                <div class="cards card-two w-[23%] bg-[#58a68c76] rounded-2xl h-[60vh] overflow-hidden">
                    <div>
                        <img src="https://images.unsplash.com/photo-1682687981974-c5ef2111640c?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="" class="rounded-b-2xl">
                    </div>
                    <div class="flex flex-col items-center gap-2 mt-5">
                        <h1 class="text-2xl font-semibold">Project Title</h1>
                        <div class="text-sm px-4 w-[80%]">
                            <p class="line-clamp-4 text-center font-medium">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Itaque, a veritatis corrupti sed sunt tempore repudiandae atque
                                temporibus voluptatum accusantium cumque ea laudantium culpa, architecto nobis quasi
                                assumenda, harum explicabo dolorem! Ipsum itaque aliquam rem, labore nemo quibusdam,
                                necessitatibus totam minima quam quod molestiae earum fugiat veniam cupiditate assumenda
                                est, harum porro nulla pariatur modi tempore? Repudiandae provident est error nulla
                                dolorem asperiores vero. Sint eos aut fuga veritatis id?</p>
                        </div>
                        <div class="w-36 flex text-xs">
                            <button class=" text-center text-lg mb-1 pl-5 font-semibold">See More</button>
                            <i class="ri-arrow-right-fill text-2xl"></i>
                        </div>
                    </div>

                </div>

                <!-- card3 -->
                <div class="cards card-three w-[23%] bg-[#58a68c76] rounded-2xl h-[60vh] overflow-hidden">
                    <div>
                        <img src="https://images.unsplash.com/photo-1706553458726-36db69e4f817?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="" class="rounded-b-2xl">
                    </div>
                    <div class="flex flex-col items-center gap-2 mt-5">
                        <h1 class="text-2xl font-semibold">Project Title</h1>
                        <div class="text-sm px-4 w-[80%]">
                            <p class="line-clamp-4  text-center font-medium">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Itaque, a veritatis corrupti sed sunt tempore repudiandae atque
                                temporibus voluptatum accusantium cumque ea laudantium culpa, architecto nobis quasi
                                assumenda, harum explicabo dolorem! Ipsum itaque aliquam rem, labore nemo quibusdam,
                                necessitatibus totam minima quam quod molestiae earum fugiat veniam cupiditate assumenda
                                est, harum porro nulla pariatur modi tempore? Repudiandae provident est error nulla
                                dolorem asperiores vero. Sint eos aut fuga veritatis id?</p>
                        </div>
                        <div class="w-36 flex text-xs">
                            <button class=" text-center text-lg mb-1 pl-5 font-semibold">See More</button>
                            <i class="ri-arrow-right-fill text-2xl"></i>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- fourth page -->
        <div class="w-full h-screen"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
        integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
        integrity="sha512-OzC82YiH3UmMMs6Ydd9f2i7mS+UFL5f977iIoJ6oy07AJT+ePds9QOEtqXztSH29Nzua59fYS36knmMcv79GOg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/index.js"></script>
    <% include ./partials/footer.ejs%>