<% include ./partials/header.ejs%>
    <div class="main z-[10] relative">
        <div class="w-full h-screen  bg-[#e4ebe8] flex flex-col">
            <div class="w-full h-28 flex justify-between  mt-16 ">
                <div class="w-[80%] h-full flex items-center gap-8 border-b-2  pl-20">
                    <div class=" h-10 border-[1px] border-black rounded-md flex gap-2 items-center justify-center px-3 hover:bg-[#43856F] hover:text-white hover:border-[#43856F] cursor-pointer">
                        <i class="ri-upload-cloud-2-line text-xl"></i>
                        <h5 class="text-md mb-1">Upload Project</h5>
                    </div>
                    <div class=" h-10 border-[1px] border-black rounded-md flex gap-2 items-center px-3 hover:bg-[#43856F] hover:text-white hover:border-[#43856F] cursor-pointer">
                        <i class="ri-school-fill text-xl "></i>
                        <h3 class="text-md ">University</h3>
                        <i class="ri-arrow-drop-down-fill text-3xl mt-1"></i>
                    </div>
                    <div class=" h-10 border-[1px] border-black rounded-md flex gap-2 items-center justify-center px-3 search cursor-pointer">
                        <i class="ri-search-eye-line text-xl"></i>
                       <input class="w-32 bg-[#e4ebe8] text-md outline-none cursor-pointer hover:bg-[#43856F]" type="text" name="search" placeholder="Search">
                    </div>
                    <div class=" h-10 border-[1px] border-black rounded-md flex gap-2 items-center px-3 hover:bg-[#43856F] hover:text-white hover:border-[#43856F] cursor-pointer">
                        <i class="ri-list-indefinite text-xl"></i>
                        <h3 class="text-md mb-1">Categories</h3>
                        <i class="ri-arrow-drop-down-fill text-3xl"></i>
                    </div>
                </div>
                <div class="w-[20%] h-full flex items-center justify-end  pr-20">
                    <div class="  h-10 border-[1px] border-black rounded-md flex gap-2 items-center justify-center px-3 hover:bg-[#43856F] hover:text-white hover:border-[#43856F] cursor-pointer">
                        <i class="ri-filter-off-fill text-xl"></i>
                        <h5 class="text-md mb-1">Clear filters</h5>
                    </div>
                </div>

            </div>
            <div class="hero w-full border-gray-400 border-t-2 flex justify-center">
                <div class="left w-[30%] h-full py-8 overflow-auto">
                    <div class="w-full px-9 h-24 rounded-lg">
    
                        <div class="fir flex gap-7 mb-7">
                            <div class="lef">
                                <i class="ri-school-fill text-4xl "></i>
                            </div>
                            <div class="rig">
                                <h1 class="text-2xl font-medium ">University Name</h1>
                                <h3 class="text-xl text-zinc-500">Project Title</h3>
                                <h3 class="text-md text-zinc-500">Category</h3>
                            </div>
                        </div>
    
                        <div class="fir flex gap-7 mb-7">
                            <div class="lef">
                                <i class="ri-school-fill text-4xl "></i>
                            </div>
                            <div class="rig">
                                <h1 class="text-2xl font-medium ">University Name</h1>
                                <h3 class="text-xl text-zinc-500">Project Title</h3>
                                <h3 class="text-md text-zinc-500">Category</h3>
                            </div>
                        </div>
    
                        <div class="fir flex gap-7 mb-7">
                            <div class="lef">
                                <i class="ri-school-fill text-4xl "></i>
                            </div>
                            <div class="rig">
                                <h1 class="text-2xl font-medium ">University Name</h1>
                                <h3 class="text-xl text-zinc-500">Project Title</h3>
                                <h3 class="text-md text-zinc-500">Category</h3>
                            </div>
                        </div>
    
                        <div class="fir flex gap-7 mb-7">
                            <div class="lef">
                                <i class="ri-school-fill text-4xl "></i>
                            </div>
                            <div class="rig">
                                <h1 class="text-2xl font-medium ">University Name</h1>
                                <h3 class="text-xl text-zinc-500">Project Title</h3>
                                <h3 class="text-md text-zinc-500">Category</h3>
                            </div>
                        </div>
    
                        <div class="fir flex gap-7 mb-7">
                            <div class="lef">
                                <i class="ri-school-fill text-4xl "></i>
                            </div>
                            <div class="rig">
                                <h1 class="text-2xl font-medium ">University Name</h1>
                                <h3 class="text-xl text-zinc-500">Project Title</h3>
                                <h3 class="text-md text-zinc-500">Category</h3>
                            </div>
                        </div>
    
                        <div class="fir flex gap-7 mb-7">
                            <div class="lef">
                                <i class="ri-school-fill text-4xl "></i>
                            </div>
                            <div class="rig">
                                <h1 class="text-2xl font-medium ">University Name</h1>
                                <h3 class="text-xl text-zinc-500">Project Title</h3>
                                <h3 class="text-md text-zinc-500">Category</h3>
                            </div>
                        </div>
    
                        <div class="fir flex gap-7 mb-7">
                            <div class="lef">
                                <i class="ri-school-fill text-4xl "></i>
                            </div>
                            <div class="rig">
                                <h1 class="text-2xl font-medium ">University Name</h1>
                                <h3 class="text-xl text-zinc-500">Project Title</h3>
                                <h3 class="text-md text-zinc-500">Category</h3>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="right w-[60%] h-full py-8 bg-yellow-300">
    
                </div>
            </div>
    
           

        
            <!-- <div class="w-[20%] h-28 bg-slate-400 mt-20"></div> -->
        </div>
        
       
        <div class="w-full h-screen">
        </div>
    </div>
    <% include ./partials/footer.ejs%>