<% include ./partials/notificationTemplate.ejs%>
<div class="w-full h-[13%] flex items-center justify-start border-b-2 border-white bg-[#93c2af]">
    <h1 class="text-2xl text-[#43856F] font-semibold pl-4">
      Queries
    </h1>
    </div>
    <div class=" relative w-[95%]  bg-[#d0d8d5] my-2 mx-5  rounded-md flex flex-col gap-1 px-3 py-2">
      <div class="w-full flex gap-3">
          <div
              class="w-[2.5vw] h-[2.5vw] border-[2px] flex items-center justify-center border-[#43856F] rounded-full">
              <i class="ri-question-answer-fill text-[#43856F]"></i>
          </div>
          <h1 class="text-[#43856F] font-bold">Query <span>1</span></h1>
      </div>
      <div class="flex items-center justify-between"><h1 class="text-[#43856F] font-semibold ">How I can upload images which are more than 150kb ?</h1><i class="ri-arrow-drop-down-fill inline-block mr-[0.6vw] text-3xl text-[#43856F] point-cursor"></i></div>
      <div class="w-full  ">
          <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sit quidem inventore incidunt. Iste, unde quod reiciendis consectetur ipsa nam praesentium nostrum magni aut odit reprehenderit, quis mollitia alias voluptatibus?</h1>
      </div>
      <div class="absolute w-[1vw] h-[1vw] bg-red-600 rounded-full left-[95%] top-[12%]"></div>
  </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/uniDashboard.js"></script>
  </body>
</html>
