<% include ./partials/header.ejs%>
    <div class="main bg-[#e4ebe8]">
        <div class="w-full h-16 px-20 fixed z-50 top-[0%] bottom-auto left-auto right-auto">
            <div class="w-full h-[100%] px-20 py-10 flex items-center justify-between mt-2 nav rounded-md">
                <div class="w-[8vw] flex items-center">
                    <img class="w-[60%]" src="/images/logo.png" alt="">
                    <h1 class="text-xl font-bold text-[#43856F]">StudentProjectHub</h1>
                </div>
                <div class="flex gap-2 mid relative left-5">
                    <h1 class=" px-7 py-2  rounded-3xl font-medium  relative text-lg"><a
                            class="decoration-none relative">Home
                    </h1></a>
                    <h1 class=" px-5 py-2 rounded-3xl font-medium relative text-lg"><a
                            class="decoration-none relative">Projects
                    </h1></a>
                    <h1 class=" px-5 py-2 rounded-3xl font-medium relative text-lg"><a
                            class="decoration-none relative">About
                    </h1></a>
                    <h1 class=" px-5 py-2 rounded-3xl font-medium relative text-lg"><a
                            class="decoration-none relative">Contact
                            Us</h1></a>
                </div>
                <div>
                    <button class=" w-36 h-[7vh] rounded-md text-white bg-[#43856F] btn ">SignUp</button>
                </div>
            </div>
        </div>
        <div class="w-full h-screen flex items-center justify-between con py-5 ">
            <div class="w-[50%] h-[100%] mt-20 flex items-center justify-start flex-col">
                <div class="w-[100%] mt-32">
                    <H1 class="text-[4vw] w-[100%] text-left font-extrabold mx-11">Showcase Your
                        <span class="change text-[#43856F]"></span><span>|</span>
                    </H1>
                </div>
                <div>
                    <h3 class="text-[3vw] w-[80%] text-left mx-11">Share your brilliance, refine your vision.</h3>
                </div>
                <div class="w-[100%] flex items-center gap-2">
                    <div
                        class="bg-[#43856F] rounded-md mx-11 w-[12.5vw] h-[9vh] mt-7 flex items-center justify-center gap-2 ">
                        <button class="text-white text-center text-lg mb-1">All Projects</button>
                        <i class="ri-arrow-right-fill text-2xl invert"></i>
                    </div>

                    <div
                        class="bg-[#e4ebe8] rounded-md  w-[12.5vw] h-[9vh] mt-7 flex items-center justify-center gap-2 border-[1px] border-[#43856F]">
                        <button class="  text-black ">Upload
                            Project</button></div>
                </div>
            </div>

            <div class="w-[50%] h-[100%] mt-20 relative ">
                <img class="w-[95%] h-[80%] object-cover absolute top-[24px] left-[7px] image" src="/images/main.webp"
                    alt="">
                <img class="w-22 h-[30.33%] object-contain absolute bottom-[12px] left-0 icon" src="/images/icon.webp"
                    alt="">
                <img class="w-22 h-[24.3%] object-contain absolute top-[6.5rem] right-[10px] icon"
                    src="/images/icon2.webp" alt="">
            </div>
        </div>
        
        <!-- Second Page started -->
        <div class="w-full min-h-screen mt-20 px-8 h">
            <div class="w-[100%] margin-auto border-b-2 border-[#dadada] pb-4 head">
                <h1 class="text-7xl font-semibold opacity-65  overflow-hidden"><span class="text-[#43856F]">Unleash</span> Diverse <span class="text-[#43856F]" >Projects</span> </h1>
            </div>
            <div class="w-full">
                <div class="text-9xl  mt-20 whitespace-nowrap overflow-x-auto movingtext">
                    <div class=" font-semibold anim whitespace-nowrap inline-block anim">
                        <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> TECHNICAL </h1>
                         <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> MANAGEMENT </h1>
                         <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> SCIENCE </h1>
                    </div>

                    <div class=" font-black anim whitespace-nowrap inline-block anim">
                         <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> TECHNICAL </h1>
                         <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> MANAGEMENT </h1>
                         <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> SCIENCE </h1>
                    </div>

                    <div class="font-black anim whitespace-nowrap inline-block anim">
                         <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> TECHNICAL </h1>
                         <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> MANAGEMENT </h1>
                         <div class="w-20 h-20 rounded-full bg-[#43856F] whitespace-nowrap inline-block"></div>
                        <h1 class="whitespace-nowrap inline-block"> SCIENCE </h1>
                    </div>
                </div>
            </div>
                  <!-- How our website Works -->
      <div class="second-sec w-full h-[80%] flex mt-20">
        <div class="left w-[60%] h-[100vh]">
          <h1 class="text-5xl mt-8 mb-4 font-semibold">Getting started is easy:</h1>
          <ol class="list-decimal pl-8 pt-8">
            <li class="text-2xl tracking-wide mb-2">Register and create your account</li>
            <li class="text-2xl tracking-wide mb-2">Submit your project</li>
            <li class="text-2xl tracking-wide mb-2">Explore other inspiring projects</li>
            <li class="text-2xl tracking-wide mb-2">Engage in discussions and collaborations</li>
          </ol>
          <div class="h-[40%] flex flex-col justify-end gap-3 ">
            <p class="text-3xl font-semibold leading-relaxed">Join our <span class="text-[#43856F]">community</span> 🌐 and be a part of something <span class="text-[#43856F]">extraordinary</span>. Your journey starts
              here!</p>
            <div class="mt-8">
              <button class="w-36 h-[7vh] rounded-md text-white bg-[#43856F] btn">Get Started</button>
            </div>
          </div>
        </div>
        <div class="right w-[40%] h-[100vh] bg-[#e4ebe8]">
          <img src="/images/started.png" alt="">
        </div>
      </div>
      <div class="w-full h-[1.5vh] bg-[black] opacity-[5%]"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
        integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
        integrity="sha512-OzC82YiH3UmMMs6Ydd9f2i7mS+UFL5f977iIoJ6oy07AJT+ePds9QOEtqXztSH29Nzua59fYS36knmMcv79GOg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>

    <% include ./partials/footer.ejs%>