<% include ./partials/header.ejs%>
<div class="w-full h-screen bg-[#e4ebe8] ">
    <div class="w-[60%] h-[15%] flex flex-col   m-auto">
        <div class="w-full mt-6 flex items-center gap-2">
            <div class="w-[2rem] h-[2rem] rounded-full flex items-center justify-center border-2 border-[#43856F] ">
                <i class="ri-mail-fill text-[#43856F] "></i>
            </div>
            <div class=" h-[10%] w-[25%] bg-[#43856F]"></div>
            <div
                class="  w-[2rem] h-[2rem] rounded-full bg-[#e4ebe8] flex items-center justify-center border-2 border-[#43856F] ">
                <i class="ri-verified-badge-fill text-[#43856F]"></i>
            </div>
            <div class=" h-[10%] w-[25%] bg-[#43856F]"></div>
            <div
                class=" w-[2rem] h-[2rem] rounded-full bg-[#e4ebe8] flex items-center justify-center border-2 border-[#43856F] ">
                <i class="ri-file-edit-fill text-[#43856F]"></i>
            </div>
            <div class=" h-[10%] w-[25%] bg-[#43856F]"></div>
            <div
                class="  w-[2rem] h-[2rem] rounded-full bg-[#e4ebe8] flex items-center justify-center border-2 border-[#43856F] ">
                <i class="ri-checkbox-fill text-[#43856F]"></i>
            </div>
        </div>
        <div class="w-[110%] h-[80%] -ml-[4%] flex items-center justify-between ">
            <div>
                <h1 class="text-[#43856F] text-xl whitespace-nowrap">Enter Email</h1>
            </div>
            <div>
                <h1 class="text-[#43856F] text-xl whitespace-nowrap  ml-6">Verify OTP</h1>
            </div>
            <div>
                <h1 class="text-[#43856F] text-xl whitespace-nowrap  ml-10">Fill Details</h1>
            </div>
            <div>
                <h1 class="text-[#43856F] text-xl whitespace-nowrap  ">Project Uploaded</h1>
            </div>
        </div>
    </div>

    <div class="w-full h-[85%]  flex flex-col items-center gap-10">
        <h1 class="mt-32 text-4xl text-[#43856F] font-bold">Project has been uploaded successfully</h1>
        
        <a href="/" ><div class="homeBtn w-[15vw] h-[10vh] flex items-center justify-center rounded-md bg-[#43856F] point-cursor hover:bg-[#326454] transition-all duration-150 ease-in-out">
            <h1 class="text-xl text-white font-semibold point-cursor ">Return to home</h1>
        </div></a>
    </div>
</div>  