<% include ./partials/header.ejs%>
    <div class="w-full h-screen bg-[#e4ebe8] flex justify-center items-center">
        <div class="w-[30vw] h-[87vh] bg-[#009D85] rounded-lg overflow-hidden">
            <div class="flex justify-start mt-7 mb-2 text-2xl gap-[4.5rem]  items-center">
                <h1><i class="ri-arrow-drop-left-line text-4xl text-white"></i></h1>
                <h1 class="text-white font-semibold text-2xl">Verify Your Email</h1>
            </div>
            <div class="w-full flex justify-center h-40 py-2 relative  overflow-hidden ">
                <div class="rounded-full bg-[#e4ebe8] h-full w-36 flex justify-center items-center"><i class="ri-mail-open-fill text-8xl"></i></div>
                
            </div>

            <div class="w-full flex justify-center py-2">
                <h2 class="capitalize w-[80%] text-center text-white font-semibold">Please enter the 4 Digit Code Sent to your email address
            </div>
            <form action="" method="post" class="mt-4 flex items-center flex-col" >
                <div class="inputContainer">
                    <input required="required" maxlength="1" type="number" class="otp-input" id="otp-input1">
                    <input required="required" maxlength="1" type="number" class="otp-input" id="otp-input2">
                    <input required="required" maxlength="1" type="number" class="otp-input" id="otp-input3">
                    <input required="required" maxlength="1" type="number" class="otp-input" id="otp-input4">
                </div>
                  <input class="w-[10vw] h-[7vh] bg-black text-white mt-6 rounded-md text-lg font-semibold" type="submit" value="Verify">
                <button class=" point-cursor mt-10 text-white underline">Resend Code</button>
            </form>
        </div>
    </div>